@import "../../scss/index.scss";

.auth {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: $background-grey-light;

  img {
    width: 250px;
  }

  .container-form {
    width: 400px;
    background-color: $background-light;
    padding: 20px 50px;
    border: 1px solid $border-grey;
    margin-top: 50px;
    border-radius: 5px;
  }

  .change-form {
    margin-top: 10px;
    width: 400px;
    background-color: $background-light;
    padding: 20px 50px;
    border: 1px solid $border-grey;
    text-align: center;
    border-radius: 5px;

    span {
      color: $action;
      font-weight: bold;
      margin-left: 5px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
