@import "../../../scss/index.scss";

.users-not-followeds {
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  &__user {
    margin-top: 20px;
    color: $font-dark;

    img {
      margin-right: 15px !important;
    }
  }
}
