@import "../../../scss/index.scss";

.register-form-title {
  font-size: 17px !important;
  text-align: center;
  margin-bottom: 20px;
}

.register-form {
  input {
    padding: 13px 15px !important;
    background-color: #f9f9f9 !important;
  }
}
