@import "../../../scss/index.scss";

.search-users {
  .ui.left.icon.input {
    width: 100%;
  }

  .results {
    max-height: 60vh;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    align-items: center;

    .ui.image {
      width: 35px !important;
      height: 35px !important;
      border-radius: 50% !important;
      margin-right: 20px;
    }

    p {
      margin: 0;
      color: $font-dark;

      &:first-of-type {
        font-weight: bold;
      }
      &:last-of-type {
        color: $font-grey;
      }
    }
  }
}
